.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start {
  width:100%;
  height:300%;
}

.App-link {
  color: #09d3ac;
}

.reset-button{
  height: 50px;
  width: 100px;
  background-color: red;
  color: white;
  border-color: black;
  border-radius: 10px;
  font-size: 20px;
  font-style: italic;
}

h1 {
  text-align: center;
  color: #F0C013;
  font-size: 60px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 50px;
}

h3 {
  font-weight: bold;
  text-align: center;
  color: yellow;
  font-size: 30px;
}

body {
  background: #F0C013;
}
