.Start {
  position: absolute;
  background-color: #6b1518;
  width: 100%;
  height: 300%;
  text-align: center;

}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display: inline-block;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 3s;
  transform-style: preserve-3d;

}

.spinner {
  transform: rotateY(5400deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}

/* .not-me {
  transform: rotateY(540deg);
}  */


.flip-card-back {
  background-color: #2980b9;
  color: white;

}

.start-button{
  height: 100px;
  width: 200px;
  background-color: green;
  color: white;
  border-color: black;
  border-radius: 10px;
  font-size: 20px;
  font-style: italic;
  margin-top: 40px;
}

.redcoin img {
  height: 300px;
  width: 150;
}
